body{
  overflow-x: hidden ;
  color: hsl(0, 0%, 75%);
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}
.sign , .start,.shorten_it{
  background-color: hsl(180, 66%, 49%);
  color: white;
}
.sign:hover, .start:hover, .shorten_it:hover {
  background-color: hsla(180, 66%, 49%,80%)
}
h1,h2{
  font-weight: 700;
  color: hsl(255, 11%, 22%);
}
.short{
  color: hsl(180, 66%, 49%);
}
.shorten{
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 10rem;
  background-position-y: -4rem;
  background-color: hsl(257, 27%, 26%);
}
.App {
  text-align: center;
}
.brandimg{
  position: absolute;
  height: 80px;
  width: 80px;
  background-color: hsl(260, 8%, 14%);
  border-radius: 50%;
  /* top: -20%; */
  /* left: 50%; */
  transform: translateX(-50%);
  /* z-index: -33; */
}
.statistics{
  background-color: hsla(257, 7%, 63%,10%);
  /* margin-top: -19rem; */
}
.boost{
  background-repeat: no-repeat;
  background-size: cover;
  background-color: hsl(257, 27%, 26%);
}
.boost h2{
  color: white;
}
.bluediv{
  /* width: 8px; */
  /* height: 800px; */
  background-color: hsl(180, 66%, 49%);
  position: absolute;
  /* top: 10%; */
  z-index: -21;
}
.short button{
  border: 1px solid;
  padding: 0 5px;
}
.copied{
  background-color: green;
}
.footer{
  background-color:  hsl(260, 8%, 14%);
  color: hsl(0, 0%, 55%);
}
.footer h2{
  color: white;
}
.nav{
  background-color:  hsl(257, 27%, 26%);
  border-radius: 10px;
  font-weight: 500;
  color: white;
  position: absolute;
  top: 80px;
}
